# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/

# Flask & Application Data
uploads/
*.pdf

# Environment Variables & Secrets (Crucial for later!)
.env
.flaskenv


# IDEs and OS Files
.vscode/
.DS_Store
Thumbs.db